body {
    font-family: Arial,Helvetica,sans-serif;
    font-size:15px;
    line-height:2.0;
    margin: 0;
    padding: 0;
    background-image: url("vintagejs-com.jpg")
}

/* global */
.container{
width:80%;
margin: auto;
overflow: hidden;

}
ul{
margin: 0;
padding: 0;
}
.button_1{
height: 38px;
padding-left: 20px;
padding-right: 20px;
color:  #2e5fb0;
margin-right: 0%;
overflow: hidden;

}
* header **/
header{
  background: #35424a;
  color: #ffffff;
  padding-top: 30px;
  min-height: 70px;
  border-bottom: #e8491d 3px solid;

}
header a{
  color:#4d5656;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
}

header li{
  display: inline;
  padding: 0 20px 0 20px;


}
img{
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0px;
    width: 100px;
    float: left;
    margin-left: 0%;
}
header #branding{
  float: left;
}
header #branding h1{
  margin:0;
}
header nav{
  float:right;
}
header .highlight, header .current a {
  color: #b03a2e;
  font-size: 300%;
  font-weight:bold;
  -webkit-animation: mymove 10s infinite; /* Chrome, Safari, Opera */
  animation: mymove 5s infinite;
  margin-left: 200px;

}
/* Chrome, Safari, Opera */
@-webkit-keyframes mymove {
from {color: #b03a2e;}
to {color: #424949;}
}

/* Standard syntax */
@keyframes mymove {
from {color: #b03a2e;}
to {color: #424949;}
}
header a:hover{
    color:red;
    font-weight:bold;
}

/* footer */
.copscene{
    padding: 30px;
    margin-top: 650px;
    color:#808000;
    text-align: center;
  }

#sidebar{
    margin: auto;
    width: 30%;
    margin-top: 15px;
    font-size: 20px;
    color:  #00FF00;
  }
#sidebar .dark textarea{
    width:90%;
    padding: 5px;
    }

#sidebar .quote input{
      width:90%;
      padding: 25px;
      }
  
aside#sidebar .quote textarea{
      width:90%;
      padding: 20px;
      }    
/* showcase**/
#showcase{
  min-height: 650px;
  text-align: center;
  color:#798b82;

}
#showcase .container q{
  margin-top: 500px;
  font-size: 60px;
  margin-bottom:0px;
}
#showcase q{
  font-size: 40px;
}
/*profile html **/
#profsee{
  border-top: dashed thick #273a7f;
  padding: 0px;
  width: auto;
  background-image: url("flocka_love.jpg");
}
#profsee h1,label{
  margin-bottom: 0%;
  margin-top: 15px;
  font-size: 23px;
  color:  #330335;

}
#profsee p{
  font-size: 20px;
  color:  #16a56e;
}
#profsee img{
  width: 200px;
}
#profsee .prof1{
  width: 250px; 
}
#profsee .prof2{
  width: 1750px; 
}
#sidecar{
  margin: auto;
  width: 30%;
  margin-top: 15px;
  font-size: 20px;
  color:  #330335;
}
#sidecar .dark textarea{
  width:90%;
  padding: 5px;
  }

#sidecar .quote input{
    width:90%;
    padding: 15px;
    }

aside#sidecar .quote textarea{
    width:50%;
    padding: 10px;
    }

#blogsee {
    border-top: dashed thick #273a7f;
    padding: 0px;
    width: auto;
    background-image: url("flocka_sunset.jpg");
}
#blogsee img{
  width: 200px;
}
#blogsee .blog1{
  width: 250px; 
}
#blogsee .blog2{
  width: 1750px; 
}